.sch-row {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 50px auto;
}
.sch-row * {
  text-decoration: none;
}
.sch-card {
  width: 48%;
}

.sch-img {
  width: 120px;
  height: 120px;
  border-radius: 10%;
  margin-right: 40px;
  margin-left: 20px;
}

.sch-item {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 45px 30px;
  border-radius: 10px;
  width: 100%;
  box-shadow: 0px 3px 5px 1px #ddd;
}
.sch-item:hover {
  background: rgba(255, 255, 255, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.sch-item .sch-des {
  width: 100%;
}
.sch-title {
  color: #9b8718;
  font-size: 20px;
  font-weight: 300;
}
.sch-link {
  color: rgb(124, 116, 116);
  /* display: block;
    width: fit-content;
    padding : 5px 5px;
    border-radius: 10px; */
  margin-bottom: 0;
}

.sch-underline {
  height: 3px;
  width: 112px;
  background-color: #9b8718;
  margin-top: 0;
  border-radius: 5px;
}
/* .sch-link:hover{
    background-color: rgba(155, 135, 24,0.5);
} */
.sch-header-underline {
  height: 7px;
  width: 100px;
  margin: 0 auto;
  background-color: #9b8718;
  margin-top: 0;
  border-radius: 5px;
  text-align: center;
}
.out-card {
  padding: 20px;
}
.student-card {
  box-shadow: 0px 3px 5px 1px #ddd;
  text-align: center;
}
.student-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.student-sch{
  text-decoration: none;
  color : #9B8718;
}
.student-sch:hover{
  color : #ebcf30;
}
.additional-txt{
  margin-top : 20px;
}
.student-des {
  padding: 20px 0;
}
@media only screen and (max-width: 1000px) {
  .sch-row {
    width: 100%;
  }
}
@media only screen and (max-width: 780px) {
  .sch-row {
    display: block;
  }
}
@media only screen and (max-width: 400px) {
  .sch-img {
    margin-left: 10px;
    margin-right: 5px;
  }
  .sch-item {
    padding: 45px 5px;
  }
}
@media only screen and (min-width: 767px) and (max-width: 991px) {
  .students {
    /* width: 100%; */
    margin-left: 0;
    margin-right: 0;
  }
}
